:root {

    --primary-color: #A2E8DD;
    --secondary-color: #627C85;
    --accent1-color: #779CAB;
    --accent2-color: #35524A;
    --accent3-color: #DBF4A7;

    --heading-font: "Bungee", sans-serif;
    --paragraph-font: "Titillium Web", sans-serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color: var(--accent2-color);
    --nav--hover-link-color:var(--accent3-color);
    --nav-hover-background-color:var(--accent1-color);
}

body {
    max-width: 920px;
    background-color: var(--primary-color);
}

header {
    background-color: var(--secondary-color);
}


.hero div{
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;

}

article, img .hero {
    position: absolute;
    bottom: 265px;
    left: 600px;
    font-size: larger;
}

h1 {
    position: absolute;
    bottom: 265px;
    left: 40px;
}

p {
    padding: 15px;
    font-family: var(--paragraph-font);
}

h1, h2 {
    font-family: var(--heading-font);
}

footer {

    background-color: var(--secondary-color);
    border-top: 2px solid #000;
    text-align: center;
    font-size: larger;
}

a {
    margin-right: 12px;
    text-decoration: none;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav {
    font-family: var(--paragraph-font);
    font-size: large;
}

nav img {
    width: 8%;
    height: 8%;
    filter: drop-shadow(8px 8px 8px #000000);
    -webkit-filter: drop-shadow(8px 8px 8px #000000);
}
